*{
     margin: 0;
     padding: 0;         
 }

.cabecalho{
    background-color: rgb(156, 0, 0);
    color:rgb(255, 230, 2);
    display:flex;
    justify-content: space-between;
    padding: 5px 150;
    font-size: 30px;
}
.cabecalhoListaItem{ 
   display:inline-block;
   margin: 0 20px;
   padding: 0px 150;
}

.sobreImagem{
           width:
}

.sobre{
        background-image: linear gradient(#FFFFFF. #FFFFFF);
        color: orange;
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 370px 0;
}

.sobreConteudo{
        width:
}

.sobreTitulo{
         padding: 20px 30px;
}